ADF/pipeline/Ingestion-ClaimData.json
{
	"name": "Ingestion-ClaimData",
	"properties": {
		"activities": [
			{
				"name": "Get HW Date for Agent",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select lastmodifieddate from highwatermark where name='Claim'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DB_DS_Genric_Policy_Project",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "highwatermark"
						}
					}
				}
			},
			{
				"name": "Get Last Modified Date from Database",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get HW Date for Agent",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(LastUpdatedTimestamp) as LastUpdatedTimestamp from Claim",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DB_DS_Genric_Policy_Project",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "Agent"
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Modified Date from Database",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from Claim where LastUpdatedTimestamp > '@{activity('Get HW Date for Agent').output.firstRow.lastmodifieddate }' and LastUpdatedTimestamp <='@{activity('Get Last Modified Date from Database').output.firstRow.LastUpdatedTimestamp}'  ",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQL_DB_DS_Genric_Policy_Project",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "agent"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet_Claim_DS_Policy_Project",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "HighWaterMark Update",
				"description": "we can also use lookup activity to update hW table with update dml statement",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select 'Claim' as name , '@{activity('Get Last Modified Date from Database').output.firstRow.LastUpdatedTimestamp}' as lastmodifieddate",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"name"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQL_DB_DS_Genric_Policy_Project",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "Agent"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_DB_DS_Genric_Policy_Project",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "highwatermark"
						}
					}
				]
			}
		],
		"folder": {
			"name": "Policy Project"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-20T19:11:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}