ADF/pipeline/Master_pipeline_gc.json
{
	"name": "Master_pipeline_gc",
	"properties": {
		"activities": [
			{
				"name": "project_gc",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "project_gc",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "project copy rest api gc",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "project copy rest api gc",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "project copy sql gc",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "project copy sql gc",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "project_gc",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "project copy sql gc",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "project copy rest api gc",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Refresh Databricks Notebook GC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.layer_names_to_run",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Refresh Databricks Notebook GC ALL",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Refresh Databricks Notebook GC",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Layer_Name": {
										"value": "@item().layer_names_to_run",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "publish data into sql table GC",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "publish data into sql table GC",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Refresh Databricks Notebook GC",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Refresh Databricks Notebook GC",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"layer_names_to_run": {
				"type": "array",
				"defaultValue": [
					"Cleansed",
					"Data_Quality_Cleansed",
					"Mart"
				]
			}
		},
		"annotations": []
	}
}