ADF/pipeline/practice1.json
{
	"name": "practice1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "practice_csv",
						"type": "DatasetReference",
						"parameters": {
							"path": "assignment8"
						}
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata1').output.childItems[0].type,'File')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ProductID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "ProductID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ProductNumber",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "ProductNumber",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Color",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Color",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "practice_sql",
									"type": "DatasetReference",
									"parameters": {
										"schema": "saleslt",
										"tablename": "product"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "practice_csv",
									"type": "DatasetReference",
									"parameters": {
										"path": "sept30"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"start": {
				"type": "String"
			},
			"end": {
				"type": "String"
			}
		},
		"annotations": []
	}
}